.bye {
  font-size: 25px;
  font-weight: bold;
  border: 1px rgb(16, 95, 232) solid;
  padding: 10px;
  font-size: 20px;
  max-width: 260px;
  margin: 0 auto;
  margin-top: 25px;
  text-align: center;
}
